body {
    background-image: url("assets/fresh-fruit-cake.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#banner {
    margin-top: 5%;
    text-align: center;
    padding: 5%;
    background: rgba(173, 216, 230, 0.75);
}

footer {
    background-color: aliceblue;
}